<div class="container ">
    <div class="col-md-8">
<h4><b> Giuthub username:</b> {{user.login}}</h4>
<img src="{{user.avatar_url}}" alt="Image">
<p><b>Bio</b>: {{user.bio}}</p>
<p><b>created on:</b> {{user.created_at}}</p>
<p> <b>No. of repositories:</b> {{user.public_repos}}</p>
</div>

<div *ngFor = "let repoDetail of repoDetails">
    <p appHighlight> <b>repository Name:</b>{{repoDetail.name}} } | {{repoDetail.clone_url}}</p>
    <p><b>Description: </b>{{repoDetail.description}}</p>
    <p><b>Language used: </b>{{repoDetail.language}}</p>
    <p><b>Updated at: </b>{{repoDetail.updated_at}}</p>
</div>

</div>